@page
@model GeoProfs.Pages.RoosterModel
@{
}

<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-firestore-compat.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyCCzNwDI9iTiTEc0QTN0XU39RxqWR9XYm4",
        authDomain: "geoprofs-1b3fb.firebaseapp.com",
        projectId: "geoprofs-1b3fb",
        storageBucket: "geoprofs-1b3fb.appspot.com",
        messagingSenderId: "141244233397",
        appId: "1:141244233397:web:9e2ce2844d4ca7160e70fc",
        measurementId: "G-SZ15Q61C7Q"
    };
        //connect to firebase and display if the database is connected or not
    firebase.initializeApp(firebaseConfig);
    console.log(firebase);
        var db = firebase.firestore();
        console.log(db);
        db.collection("users").get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
                console.log(`${doc.id} => ${doc.data()}`);
            });
        });

    //pull user data from firebase
    var user = firebase.auth().currentUser;
    var naam, role, VerlofBeschikbaar, VerlofGebruikt;
    if (user != null) {
        naam = user.displayName;
        email = user.email;
        role = user.role;
        VerlofBeschikbaar = user.VerlofBeschikbaar;
        VerlofGebruikt = user.VerlofGebruikt;
    }
    console.log(naam);
    //pull user data from firebase

    

</script>


<head>
   <link rel="stylesheet" href="~/css/style.css" />
</head>

<h2>Verlof aanvragen</h2>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
    Verlof aanvragen
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Verlof aanvragen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Reden van verlof</label>
                        <select name="verlof" id="verlof">
                            <option value="Ziek">Select an option...</option>
                            <option value="Ziek">Ziek</option>
                            <option value="Vakantie">Vakantie</option>
                            <option value="Begrafenis">Begrafenis</option>
                            <option value="Bruiloft">Bruiloft</option>
                            <option value="Medisch">Medisch</option>
                            <option value="Anders...">Anders...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Toevoeging *</label>
                        <textarea class="form-control" id="message-text" maxlength="200"></textarea>
                    </div>
                    <input type="date" id="start" name="start" placeholder="Start datum *" />
                    <input type="date" id="end" name="end" placeholder="Eind datum" />
                    <input type="time" id="start" name="start" placeholder="Begintijd" />
                    <input type="time" id="end" name="end" placeholder="Eindtijd" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                <input type="submit" class="btn btn-success"></input>
            </div>
        </div>
    </div>
</div>

@*verlof uren beschikbaar*@
<div class="uren">
    <h3>
        Uren beschikbaar: 8
    </h3>
    <div id="piechart_3d" style="width: 900px; height: 500px;">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            //Uren van de werknemer
            //MOET INFO UIT DE DATABASE HALEN IN DE TOEKOMST 
            usedHours = 5;
            availableHours = 5;
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['beschikbare uren', availableHours],
                    ['gebruikte uren', usedHours],
                ]);

                var options = {
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }
        </script>
    </div>
</div>

@* Afwezigheid tabel *@
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Naam werknemer</th>
                <th scope="col">Begin datum</th>
                <th scope="col">Eind datum</th>
                <th scope="col">Reden</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <th scope="row">frank</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>Vakantie</td>
                <td>Goedgekeurd</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">freek</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>Vakantie</td>
                <td>in afwachting</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">ferdinand</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>medisch</td>
                <td>Afgewezen</td>
            </tr>
        </tbody>
    </table>
</div>

<a class="nav-link text-dark " asp-area="" asp-page="/verlofaanvragen">Verlof aanvragen</a>
